body{
    margin: 0;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    
}

header{
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-top: 20px;
    background-color: #58c2ff;
}

h1{
    margin-top: 0;
    text-align: center;
    color: #333;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 15px 0;
}

.nav-list li{
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-list li:hover{
    background-color: #5446d4;
}

.nav-list a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;    
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    padding: 10px;
}

.contact-main{
    text-align: center;
    margin: 20px;
}

.contact-main input {
    border-radius: 5px;
}

.submit-btn{
    background-color: #58c2ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 0 1px 1px 0 solid black;
    border-top: 1px solid #58c2ff;
    border-left: 1px solid #58c2ff;
}

@media (max-width: 425px) {
    #home, #static, #two-step, #contact {
        display: none;
    }

    #home-icon, #static-icon, #two-step-icon, #contact-icon {
        display: block;
    }

    #home-icon img, #static-icon img, #two-step-icon img, #contact-icon img {
        width: 25px;
        height: 25px;
    }

    .nav-list li {
        /* margin: 0px 10px; */
        padding: 10px;
    }
    
}

@media (min-width: 426px) {
    #home, #static, #two-step, #contact {
        display: block;
    }

    #home-icon, #static-icon, #two-step-icon, #contact-icon {
        display: none;
    }
}